{% extends 'base.html' %}
{% block title %}
    Login Page
{% endblock %}

{% block links %}
{{ super() }}
<link href="{{ url_for('static', filename='stylesheets/login.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<body class="text-center">
        <section class="vh-100">
            <div class="container py-5 h-100">
              <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                  <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
             
                      <h3 class="mb-5">Sign in</h3>
                      <form method="POST" class="form-signin" >
                        {{ form.hidden_tag() }}
                        <div class="form-outline mb-4">
                          {{ form.username(class="form-control form-control-lg") }}
                          {{ form.username.label(class="form-label") }}
                          
                          {{ form.password(class="form-control form-control-lg") }}
                          {{ form.password.label(class="form-label") }}
                        </div>
                        <div class="checkbox mb-3">
                          <h6>Do not have an account?</h6>
                          <a class="btn btn-sm btn-secondary" href="{{ url_for('register_page') }}">Register</a>
                        </div>
                        {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
                        <br>
                        {{ form.remember_me(class="form-check-input") }}
                        {{ form.remember_me.label(class="form-check-label") }}
                      
                      
                        <!-- Checkbox --
                        <div class="form-check d-flex justify-content-start mb-4">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            value=""
                            id="form1Example3"
                          />
                          <label class="form-check-label" for="form1Example3"> Remember password </label>
                        </div>-->
            
                      </form>
                  </div>
                  </div>
                  </div>
                </div>
              </div>
            </div>
          </section>   
          
</body>
{% endblock %}